<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haohe.srm.dao.SupplierRankMapper" >
  <resultMap id="BaseResultMap" type="com.haohe.srm.model.SupplierRank" >
    <id column="sup_rank_id" property="supRankId" jdbcType="INTEGER" />
    <result column="sup_rank_code" property="supRankCode" jdbcType="VARCHAR" />
    <result column="sup_rank_name" property="supRankName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sup_rank_id, sup_rank_code, sup_rank_name, create_time, created_by, update_time, 
    updated_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier_rank
    where sup_rank_id = #{supRankId,jdbcType=INTEGER}
  </select>
  <select id="selectAllSupplierRanks" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from supplier_rank
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier_rank
    where sup_rank_id = #{supRankId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.haohe.srm.model.SupplierRank" >
    insert into supplier_rank (sup_rank_id, sup_rank_code, sup_rank_name, 
      create_time, created_by, update_time, 
      updated_by)
    values (#{supRankId,jdbcType=INTEGER}, #{supRankCode,jdbcType=VARCHAR}, #{supRankName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.haohe.srm.model.SupplierRank" >
    insert into supplier_rank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supRankId != null" >
        sup_rank_id,
      </if>
      <if test="supRankCode != null" >
        sup_rank_code,
      </if>
      <if test="supRankName != null" >
        sup_rank_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supRankId != null" >
        #{supRankId,jdbcType=INTEGER},
      </if>
      <if test="supRankCode != null" >
        #{supRankCode,jdbcType=VARCHAR},
      </if>
      <if test="supRankName != null" >
        #{supRankName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.haohe.srm.model.SupplierRank" >
    update supplier_rank
    <set >
      <if test="supRankCode != null" >
        sup_rank_code = #{supRankCode,jdbcType=VARCHAR},
      </if>
      <if test="supRankName != null" >
        sup_rank_name = #{supRankName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where sup_rank_id = #{supRankId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.haohe.srm.model.SupplierRank" >
    update supplier_rank
    set sup_rank_code = #{supRankCode,jdbcType=VARCHAR},
      sup_rank_name = #{supRankName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where sup_rank_id = #{supRankId,jdbcType=INTEGER}
  </update>
</mapper>